main {
  width: 600px;
  margin: 50px auto;
  text-align: center;
}

.row div {
  display: inline-block;
  width: 100px;
  height: 100px;
  font: bold 24px Helvetica, Arial, sans-serif;
  vertical-align: bottom;
  margin: 5px;
  background: #ddd;
  border-radius: 5px;
}
